* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F76F8E;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.8);
    font-size: 8vmin;
    color: #113537;
    cursor: pointer;
    background-color: #FFEAD0;
}
#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bolder;
    background-color: #9F9181;
    color: #113537;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bolder;
    background-color: #9F9181;
    color: #113537;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#msg {
    color: #FFEAD0;
    font-size: 5vmin;
}
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 4rem;
}
.hide {
    display: none;
}